<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 与源配置文件使用相同命名空间-->
<mapper namespace="com.knowledgeplanet.forum.dao.ArticleMapper">
    <!-- 定义表连接查询返回的结果集映射，继承自源配置文件的映射结果集 -->
    <resultMap id="AllInfoResultMap" type="com.knowledgeplanet.forum.model.Article" extends="ResultMapWithBLOBs">
        <!-- 扩展版块信息结果, 注意查询结果列名的前缀为 b_ -->
        <association property="board" resultMap="com.knowledgeplanet.forum.dao.BoardMapper.BaseResultMap" columnPrefix="b_"/>
        <!-- 扩展用户信息结果, 注意查询结果列名的前缀为 u_  -->
        <association property="user" resultMap="com.knowledgeplanet.forum.dao.UserMapper.BaseResultMap" columnPrefix="u_"/>
    </resultMap>
    <!-- 主页中显示的帖子列表以发布时间降序排列 -->
    <select id="selectAll" resultMap="AllInfoResultMap">
        SELECT
        u.id AS u_id,
        u.nickname AS u_nickname,
        u.gender AS u_gender,
        u.avatarUrl AS u_avatarUrl,
        b.id AS b_id,
        b.`name` AS b_name,
        a.id,
        a.boardId,
        a.userId,
        a.title,
        a.visitCount,
        a.replyCount,
        a.likeCount,
        a.state,
        a.deleteState,
        a.createTime,
        a.updateTime
        FROM
        t_board AS b,
        t_article AS a,
        t_user AS u
        WHERE
        b.id = a.boardId AND
        u.id = a.userId AND
        b.state = 0 AND
        b.deleteState = 0 AND
        a.state = 0 AND
        a.deleteState = 0
        ORDER BY a.createTime DESC
    </select>

    <!-- 根据版块Id查询帖子列表以发布时间降序排列 -->
    <select id="selectByBoardId" parameterType="java.lang.Long" resultMap="AllInfoResultMap">
        SELECT
        u.id AS u_id,
        u.nickname AS u_nickname,
        u.gender AS u_gender,
        u.avatarUrl AS u_avatarUrl,
        b.id AS b_id,
        b.`name` AS b_name,
        a.id,
        a.boardId,
        a.userId,
        a.title,
        a.visitCount,
        a.replyCount,
        a.likeCount,
        a.state,
        a.deleteState,
        a.createTime,
        a.updateTime
        FROM
        t_board AS b,
        t_article AS a,
        t_user AS u
        WHERE
        a.boardId = #{boardId,jdbcType=BIGINT} AND
        b.id = a.boardId AND
        u.id = a.userId AND
        b.state = 0 AND
        b.deleteState = 0 AND
        a.state = 0 AND
        a.deleteState = 0
        ORDER BY a.createTime DESC
    </select>

    <!-- 根据Id查询帖子详情 -->
    <select id="selectDetailById" parameterType="java.lang.Long" resultMap="AllInfoResultMap">
        SELECT
        u.id AS u_id,
        u.nickname AS u_nickname,
        u.gender AS u_gender,
        u.avatarUrl AS u_avatarUrl,
        b.id AS b_id,
        b.`name` AS b_name,
        a.id,
        a.boardId,
        a.userId,
        a.title,
        a.content,
        a.visitCount,
        a.replyCount,
        a.likeCount,
        a.state,
        a.deleteState,
        a.createTime,
        a.updateTime
        FROM
        t_board AS b,
        t_article AS a,
        t_user AS u
        WHERE
        a.id = #{id,jdbcType=BIGINT} AND
        b.id = a.boardId AND
        u.id = a.userId AND
        b.state = 0 AND
        b.deleteState = 0 AND
        a.state = 0 AND
        a.deleteState = 0
    </select>

    <!-- 根据用户Id查询帖子列表以发布时间降序排列 -->
    <select id="selectByUserId" parameterType="java.lang.Long" resultMap="AllInfoResultMap">
        SELECT
        u.id AS u_id,
        u.nickname AS u_nickname,
        u.gender AS u_gender,
        u.avatarUrl AS u_avatarUrl,
        b.id AS b_id,
        b.`name` AS b_name,
        a.id,
        a.boardId,
        a.userId,
        a.title,
        a.visitCount,
        a.replyCount,
        a.likeCount,
        a.state,
        a.deleteState,
        a.createTime,
        a.updateTime
        FROM
        t_board AS b,
        t_article AS a,
        t_user AS u
        WHERE
        a.userId = #{userId,jdbcType=BIGINT} AND
        b.id = a.boardId AND
        u.id = a.userId AND
        b.state = 0 AND
        b.deleteState = 0 AND
        a.state = 0 AND
        a.deleteState = 0
        ORDER BY a.createTime DESC
    </select>
</mapper>